name: CI

on: [push]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: "Install Dependencies"
        run: |
          npm ci
      - name: "Build"
        run: |
          npm run build
